body,html {
  background-color: black;
  color: white;
  opacity: .9;
  height: 500px;
  width: 100%;
  background-image: url("https://giphy.com/explore/background-green");
background-repeat: no-repeat;
background-size: cover;    
}
.header {
  background-color: lightgray
  
}